/*Estilos Generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seccion-titulo {
    font-size: 2.4rem;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /*font-family: 'Mochiy Pop One', sans-serif;*/
}
.seccion-descripcion {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #2c2c2c;
}
.seccion-texto {
    font-family: 'Poppins', sans-serif;
}

/*Video*/
.video-section {
    position: relative;
    height: 84vh;
    overflow: hidden;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.9);
}
.video-section h1 {
    font-family: 'Nothing You Could Do', cursive;
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
}
.video-section h2 {
    font-size: 1.2rem;
    width: 35rem;
    margin-top: 10px;
    color: #ffffff;
    font-weight: 100;
}
#myVideo {
    margin-top: 20px;
    position: absolute;
    zoom: 1%;
    min-width: 100%;
    min-height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

/*Barra Navegacion*/
.navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #ff9900f3;
    z-index: 10000;
    height: 100px;
}
.navbar-brand {
    padding: 0px 30px;
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffffff;
}
.nav-item {
    padding: 0px 12px;
}
/*Migas Pan*/
.migas-pan {
    width: 80%;
    border-bottom: #2c2c2c21 0.5px solid;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    align-items: center;
    vertical-align: middle;
    padding-left: 40px;
    height: 40px;
}
.migas-pan a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

/*Profesorado*/
.profesorado {
    margin: 70px 0;
}


/*Mapa*/
.map {
    filter: grayscale(100%) invert(92%) contrast(93%);
    background-color: #ffffff;
}

/*Contacto*/
.contacto {
    background-color: #d17d00;
    font-family: 'Poppins', sans-serif;
}
.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
    z-index: 1000;
}
.contacto .rectangulo {
    margin-top: -5rem;
    background-color: #ffbc58;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 1px white;
}
.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}
.contacto .descripcion {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
.contacto button {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.contacto button i {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover i {
    color: rgb(255, 255, 255);
}

/*Footer*/
footer {
    background-color: #d17d00;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}
.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}
.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
}
.iconos-redes-sociales a:hover i {
    color: black;
}
.derechos-de-autor {
    font-size: 15px;
    color: #ffffff;
    padding: 20px;
}

/*Responsivo*/

@media screen and (max-width: 767px) {
    .video-section {
        height: 95vh;
    }
    .content {
        margin-top: 100px;
    }
    .content h1 {
        font-size: 1.9rem;
    }
    .content h2 {
        width: 85%;
        font-size: 1.3rem;
    }

    /*Barra de navegación*/
    .navbar {
        margin-top: -900px;
        margin-bottom: 850px;
        background-color: transparent;
        z-index: 9999990;
    }
    .navbar-collapse.navbar-collapse {
        border-radius: 20px;
        margin-top: 20px;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
        background-color: #ff9900e1; /* Cambia el color de fondo al expandirse en dispositivos móviles */
    }
    .navbar-brand {
        display: none;
    }

    /*footer*/
    .footer img {
        margin-top: 40px;
    }
}
@media screen and (min-width: 700px) {

}